@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Fanwood+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Arima Madurai, sans-serif;
    font-weight: 300;
    color: #6E5B5F;
}

h1, h2 {
    font-family: Fanwood Text, sans-serif;
    text-transform: uppercase;
    color: #6B997C;
    text-decoration: none;
    letter-spacing: 3px;
}
/* logo image and heading */
#logo {
    float: left;
}
#logo-image {
    float: left;
    margin: 2px;
}
/* navigation links */
#menu {
    letter-spacing: 3px;
    float: right;
}
#menu li {
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu, #logo-image, #logo {
    line-height: 75px;
}
#menu a:hover {
    border-bottom: 1px solid #6B997C;
}
.active-page {
    border-bottom: 1px groove #6B997C;
}
/* hero image section */
#hero-section {
    height: 450px;
    width: 100%;
    clear: both;
    position: relative;
}
#hero-image {
    height: 450px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
}
#hero-image-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Fanwood Text, sans-serif;
    width: 350px;
    height: 125px;
    background-color: rgba(170, 150, 147, .7);
    bottom: 25px;
    right: 10px;
    position: absolute;
}
#hero-image-text, #hero-image-text h2 {
    color: #FAF3DD;
}
/* gym leader section */
#gyms {
    height: 450px;
    width: 100%;
    background-color: #FAF3DD;
}
#gyms h2 {
    text-align: center;
    font-size: 180%;
    padding: 10px;
}
#left-gym {
    width: 33%;
    padding-top: 2px;
    display: inline-block;
}
#right-gym {
    width: 33%;
    padding-top: 2px;
    display: inline-block;
}
#center-gym {
    width: 33%;
    display: inline-block;
    margin: 45px 0;
}
#center-image {
    background: url("../images/logo.jpg") no-repeat center center;
    width: 300px;
    height: 300px;
    border: 1px solid #6B997C;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 3;
}
.left-gym-text {
    width: 60%;
    float: right;
    z-index: 1;
}
.right-gym-text {
    width: 60%;
    float: left;
    z-index: 1;
}

/* gym type images */
#gym-type {
    height: 75px;
    width: 100%;
    padding: 20px;
}
#gym-type div {
    width: 12%;
    height: 75px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #FAF3DD;
}
#gym-type h2 {
    font-size: 100%;
    text-align: center;
    color: #FAF3DD;
    letter-spacing: 3px;
}
#bug {
    background: url("../images/bug-type.jpg") no-repeat;
    background-size: 100%;
}
#grass {
    background: url("../images/grass-type.jpg") no-repeat;
    background-size: 100%;
}
#electric {
    background: url("../images/electric-type.jpg") no-repeat;
    background-size: 100%;
}
#water {
    background: url("../images/water-type.jpg") no-repeat;
    background-size: 100%;
}
#normal {
    background: url("../images/normal-type.jpg") no-repeat;
    background-size: 100%;
}
#ghost {
    background: url("../images/ghost-type.jpg") no-repeat;
    background-size: 100%;
}
#psychic {
    background: url("../images/psychic-type.jpg") no-repeat;
    background-size: 100%;
}
#ice {
    background: url("../images/ice-type.jpg") no-repeat;
    background-size: 100%;
}

/* footer */
footer {
    height: 150px;
    width: 100%;
}
footer > ul {
    text-align: center;
}
footer li {
    display: inline;
}
footer i {
    font-size: 150%;
    color: #53A778;
    margin: 1%;
    padding: 3%;
}
/* gallery */
#photos {
    clear: both;
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}
#photos > img {
    width: 100%;
}
/* contact us */
.contact {
    height: 450px;
    clear: both;
    position: relative;
    background: url("../images/landscape-1.jpg") no-repeat center center;
}
.contact h2 {
    color: #FAF3DD;
}
/*#fieldset {
    border: 1px dotted #AA9693;
}*/
#form {
    margin: 5% 15%;
    color: #FAF3DD;
    background-color: rgba(170, 150, 147, .7);
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    left: 5%;
    padding: 30px;
}
.text-box:hover {
    background-color: #53A778;
}
#submit-button {
    border: 2px solid #FAF3DD;
    font-weight: 600;
}
#submit-button:hover {
    background-color: #53A778;
}
#address {
    margin: 5% 15px;
    color: #FAF3DD;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    right: 20%;
    padding: 30px;
}
#author {
    height: 150px;
    width: 100%;
}
#author > div {
    width: 70%;
    padding: 30px;
    margin: 0 auto;
}
#author h3 {
    font-size: 150%;
}
/* tips */
#recommended {
    height: 300px;
    width: 100%;
    clear: both;
}
#recommended > h2 {
    text-align: center;
    font-size: 150%;
    padding-bottom: 1%;
    color: #6B997C;
}
#recommended > div {
    width: 22%;
    display: inline-block;
    padding: 10px;
}
#video {
    height: 300px;
    width: 100%;
    padding-bottom: 30px;
}
#video > h2 {
    text-align: center;
    font-size: 150%;
    color: #6B997C;
}
#video > video {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
/*media queries*/
@media screen and (max-width: 1200px) {
    #gyms {
        width: 80%;
        height: 1200px;
        margin: 0 auto;
    }
    #left-gym, #right-gym, #center-gym {
        width: 100%;
        padding: 0;
    }
}