@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Fanwood+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Fanwood-Text, sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-family: Arima-Madurai, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}
#logo {
    float:left
}