@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Fanwood+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Arima Madurai, sans-serif;
    font-weight: 300;
    color: #6E5B5F;
}

h1, h2 {
    font-family: Fanwood Text, sans-serif;
    text-transform: uppercase;
    color: #6B997C;
    text-decoration: none;
    letter-spacing: 3px;
}
/* logo image and heading */
#logo {
    float: left;
}
#logo-image {
    float: left;
    margin: 2px;
}
/* navigation links */
#menu {
    letter-spacing: 3px;
    float: right;
}
#menu li {
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu, #logo-image, #logo {
    line-height: 75px;
}
#menu a:hover {
    border-bottom: 1px solid #6B997C;
}
/* hero image section */
#hero-section {
    height: 600px;
    width: 100%;
    clear: both;
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
}
#hero-image-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Fanwood Text, sans-serif;
    width: 350px;
    height: 125px;
    background-color: rgba(170, 150, 147, .7);
    bottom: 25px;
    right: 10px;
    position: absolute;
}
#hero-image-text, #hero-image-text h2 {
    color: #FAF3DD;
}
/* gym leader section */
#gym-leaders {
    height: 600px;
    width: 100%;
}
#left-gym {
    width: 33%;
    padding-top: 15px;
    float: left;
    background-color: green;
}
#right-gym {
    width: 33%;
    float: right;
    background-color: blue;
}
#image-gym {
    width: 200px;
    height: 200px;
    margin: 0 auto; 
    background-color: red;
}
.left-gym-leaders {
    width: 60%;
    float: right;
}
.right-gym-leaders {
    width: 60%;
    float: left;
}
/*.left-gym-leaders-table {
    width: 60%;
    letter-spacing: 1px;
}
.right-gym-leaders-table {
    width: 60%;
    letter-spacing: 1px;
}*/
